body {
    margin: 0px;
    padding: 0px;
}
canvas{
    display: block;
    background-color: black;
}
#top-section {
    position: absolute;
    right: 30px;
    top: 10px;
    width: 8%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 8px;
    z-index: 10;
}

#first {
    color: aqua;
}

#top-section div {
    padding: 10px 15px;
    background-color: rgb(201, 201, 183);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s;
    text-align: center;
    color: black;
    box-shadow: 5px 5px #888888;
}

#profile-card {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: rgb(201, 201, 183);
    padding: 15px 20px;
    border-radius: 12px;
    color: white;
    z-index: 10;
}

#profile-img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border: 2px solid gray;
}

#profile-info h2 {
    color: black;
    margin: 0;
    font-size: 18px;
    letter-spacing: 1px;
}

#profile-info p {
    color: black;
    margin: 4px 0 0 0;
    font-size: 13px;
    opacity: 0.8;
}


#control-panel {
    position: absolute;
    top: 150px;
    left: 20px;
    padding: 20px;
    background-color: beige;
    border-radius: 12px;
    backdrop-filter: blur(10px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 10;
    color: black;
}

.control-group {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.control-group label {
    font-size: 14px;
    opacity: 0.8;
}

.control-group select {
    padding: 8px;
    border-radius: 6px;
    border: none;
    background: #1f1f2e;
    color: white;
    cursor: pointer;
}
