body {
    margin: 0px;
    padding: 0px;
}
canvas{
    display: block;
    background-color: black;
}
.upper{
    position: absolute;
    height: max-content;
    width: 100%;
    top: 20px;
}
#top-section {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    gap: 4px;
    z-index: 10;
    flex-wrap: wrap;
}

#top-section div {
    padding: 10px 15px;
    background-color: rgba(177, 131, 105, 0.9);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s;
}

.lower-sec{
    position: absolute;
    height: max-content;
    width: 100%;
    top: 20px;
}
#lower-sec {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    gap: 4px;
    z-index: 10;
    flex-wrap: wrap;
}

#lower-sec div {
    padding: 10px 15px;
    background-color: rgba(177, 131, 105, 0.9);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s;
}